@charset "utf-8";

/* 控制台边框层 */
.console_box { 
/*background: #000000 url(Command_heading.jpg) no-repeat; */
width: 100%; /*660px windows 控制台默认宽度 */
margin: 0px;
padding-top: 0px; /* 23px控制台标题栏高度 */
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

/* 控制台内容层 */
.console_box .console {
background-color: #000000;
font-family: "Courier New", Courier, "宋体", monospace;
font-size: 12px;
color: #CCCCCC;
width: 100%; /* 656px; */
height: 456px;
margin: 0px;
padding: 0px;
overflow: auto; /* 自动加入滚动条 */
}

.console_box .console p {
line-height: 120%;
margin: 0px;
padding-bottom: 1em; /* 段落下面留一空行的高度 */
padding-top: 0px;
padding-right: 0px;
padding-left: 0px;
}