* {
	font-size:12px;
}
html, body {
	margin:0 auto;
	padding:1px;
	height:100%;
	font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Verdana", "Times New Roman";
	zoom: 1;
	overflow:auto;
}
div, span, ul, li, img, textarea, input, select, form, a, table, tr, td, th {
	font-size:12px;
	font-family: \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Verdana", "Times New Roman";
	margin:0; /*Í³Ò»ul li±ß¾à*/
	padding:0;
	list-style-type:none;
}

a {
	text-decoration:underline;
	color:#000000;
}

.etb {
	border:1px solid #95B8E7;
	border-collapse:collapse;
	border-spacing: 0;
	font-size:12px;
}
.etb th {
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #95B8E7;
	border-right:1px dotted #ccc;
	height:23px;
	line-height:23px;
	list-style-type:none;
	padding-left:3px;
	padding-right:3px;
	overflow:hidden;
	/*background-color: #EFEFEF;
	background: -moz-linear-gradient(top, #F9F9F9, #EFEFEF);
	background: -o-linear-gradient(top,#F9F9F9, #EFEFEF); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), to(#EFEFEF));  
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#EFEFEF,GradientType=0);
	position:relative!important;
	z-index:1;*/
	background:url(../images/etb_bg2.gif) top left repeat-x ;
}
.etb td {
	list-style-type:none;
	height:23px;
	line-height:23px;
	padding-top:2px;
	padding-left:3px;
	padding-right:3px;
	border:1px dotted #ccc;
}


.etb1 {
	border:1px solid #95B8E7;
	border-collapse:collapse;
	border-spacing: 0;
	font-size:12px;
}
.etb1 th {
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #95B8E7;
	border-right:1px dotted #ccc;
	height:23px;
	line-height:23px;
	list-style-type:none;
	padding-left:3px;
	padding-right:3px;
	overflow:hidden;
	/*background-color: #EFEFEF;
	background: -moz-linear-gradient(top, #F9F9F9, #EFEFEF);
	background: -o-linear-gradient(top,#F9F9F9, #EFEFEF); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), to(#EFEFEF));  
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#EFEFEF,GradientType=0);
	position:relative!important;
	z-index:1;*/
	background: #f2f2f2;
}
.etb1 td {
	list-style-type:none;
	height:23px;
	line-height:23px;
	padding-top:2px;
	padding-left:3px;
	padding-right:3px;
	border:1px dotted #ccc;
}
.topt {
	font-weight:bold;
	padding-top:2px;
	padding-right:2px;
	padding-left:18px;
	padding-bottom:1px;
	color:#0e2d5f;
	background-color: #E0ECFF;
	border:0;
	/*border:1px solid #95b8e7;*/
	/*background: -moz-linear-gradient(top, #EFF5FF, #E0ECFF);
	background: -o-linear-gradient(top,#EFF5FF, #E0ECFF); 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFF5FF), to(#E0ECFF));  
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
	position:relative!important;
	z-index:1;*/
	background:url(../images/etb_bg1.gif) top left repeat-x;
}
.input1 {
	height:23px;
	line-height:22px;
	border:1px #95B8E7 solid;
	color: #333333;
	font-size:12px;
	padding-left:2px;
	background-color:expression(((this.readOnly && this.readOnly == true) || (this.disabled && this.disabled == true)) ? "#cccccc" : "");

}
#divbtn {
	width:100%;
	margin:0 auto;
	padding-top:5px;
	text-align:center;
}
#divtips {
	background-image:url(../easyui/themes/icons/application.png);
	background-repeat:no-repeat;
	height:16px;
	line-height:16px;
	position:relative!important;
	padding-left:18px;
	margin-top:4px;
	margin-left:2px;
}
.font12red {
	color:#FF0000;
	text-decoration:none;
}
.font12gray{
	color:#CCCCCC;
	text-decoration:none;
}
